{% extends "base.html" %}
{% block title %}Proof of Delivery{% endblock %}
{% block heading %}Proof of Delivery service{% endblock %}
{% block content %}
<p>Proof of concept proof of delivery webpage.</p>
<div class="w3-container" style="max-width:800px;margin:auto">
  <p><a class="w3-button w3-block w3-margin-bottom w3-round w3-border w3-border-black w3-hover-shadow" href="order">Place Order</a></p>
  <p><a class="w3-button w3-block w3-margin-bottom w3-round w3-border w3-border-black w3-hover-shadow" href="search">Confirm Delivery (search)</a></p>
  <p><a class="w3-button w3-block w3-margin-bottom w3-round w3-border w3-border-black w3-hover-shadow" href="list">View Deliveries</a></p>
</div>
{% endblock %}
