<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/w3.css">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css">
    <title>Proof of Delivery</title>
</head>
<body>
    <h1>Landing page</h1>
    <p>Proof of concept proof of delivery webpage.</p>
    <p><a href="order">Place Order</a></p>
    <p><a href="search">Confirm Delivery (search)</a></p>
    <p><a href="list">View Deliveries</a></p>
</body>
